.div_menu {
  background-color: black;
}
.menu {
  color: white;
}

.slider-div {
  text-align: center;
}

.slider {
  padding-top: 10px;
}

footer {
  background-color: black;
  text-align: center;
}
.footer {
  color: white;
}
.footer-alamat {
  color: white;
}
